diffusers
accelerate
transformers
sentencepiece
imageio
pydantic
peft
pillow
tqdm
easydict
opencv-python-headless
torchinfo
tensorboard
scipy
psutil
matplotlib
git+https://github.com/EasternJournalist/utils3d.git