diffusers
accelerate
deepspeed
numpy
sentencepiece
imageio
imageio-ffmpeg
pydantic
peft
pillow
tqdm
easydict
opencv-python-headless
torchinfo
tensorboard
scipy
azure-storage-blob
lpips
pandas
psutil
matplotlib
click
flash-attn
git+https://github.com/EasternJournalist/utils3d.git
scikit-learn  